<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <appSettings>
    <add key="countoffiles" value="7"/>
    <add key="username" value=""/>
    <add key="cons" value="Data Source=135.22.67.66;Initial Catalog=vidconf;User ID=sa;Password=Alctraz#$"/>
    <add key="url" value="https://video.slaf.int/"/>
    
    <add key="ver" value="3"/>
  </appSettings>
</configuration>
